//
// Forms
// --------------------------------------------------


label {
  display: inline-block;
  max-width: 100%; 
  margin-bottom: 5px;
  font-weight: bold;
}


// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.form-control {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-group{
  margin-bottom: 15px;
}
form.form-inline{
  .form-group{
    margin: 0px 20px 10px 0;
    display: inline-block;
    vertical-align: middle;
  }
  .form-control {
    display: inline-block;
    width: 160px;
    vertical-align: middle;
  }
  .control-label{
    min-width: 100px;
    text-align: right;
  }
  .input-group {
    display: inline-table;
    vertical-align: middle;

    .input-group-addon,
    .input-group-btn,
    .form-control {
      width: auto;
    }
  }
  .radio,
  .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;

    label {
      padding-left: 0;
    }
  }
  .radio input[type="radio"],
  .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  span{
    margin-top: 7px;
    display: block;
  }
}

.form-horizontal {
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 7px; // Default padding plus a border
    }

    .radio,
    .checkbox {
      min-height: 27px;
    }
    .control-label{
      padding-top: 7px;
      text-align: right;
    }
    span{
      margin-top: 7px;
      display: block;
    }
    .has-feedback .form-control-feedback {
      right: 15px;
    }
  }
  .field{
    margin-top: 7px;
  }